<h2> <%= @band.name %> </h2>

<form action="/band/<%= @band.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Rename Band</label>
  <input id="name" name="name" type="text">
  <button type="submit">Update</button>
</form>
<br>
<hr>

<h4> Venues that <%= @band.name %> has played at: </h4>
<% @band.venues.each() do |venue| %>
<li><%= venue.name() %></li>
<% end %>
<br>
<br>
<form action="/band/<%= @band.id %>/venue" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @venues.each() do |venue| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
    </label>
  </div>
  <% end %>
  <button type="submit">Add Venue</button>
</form>

<hr>

<form action="/band/<%=@band.id %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger" name="delete" id="delete">Delete</button>
  </div>
</form>
<a href="/bands" class="back">Back</a>
